body {
    background: #2a2d4a;
}

.ws-card {
    margin: 1.5em 0;
}

.ws-data {
    background: black;
}

.ws-data-video {
    padding: 0;
    margin: 0;
}

.ws-data-video video,
.ws-data-video .ws-data-lazyvideo {
	width: 100%;
    display: block;
    min-height: 8em;
    max-height: 32em;
	margin: 0 auto;
}

.ws-data-video .ws-data-lazyvideo img {
	display: block;
	max-width: 100%;
	min-height: 8em;
    max-height: 32em;
	min-width: 10em;
	margin: 0 auto;
}

.ws-data-lazyvideo img {
	cursor: pointer;
}

.ws-data-audio audio {
    display: block;
    width: 100%;
}

.ws-data-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 8em;
    max-height: 100em;
    min-height: 12em;
}

.ws-trigger-requested {
	
}