body {
    background: #2a2d4a;
}

.container {
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.ws-card {
	display: inline-block;
	width: 29em;
	height: 16.3125em;
	background: black;
	margin: 1px;
}

.ws-data-video,
.ws-data-video video,
.ws-data-video .ws-data-lazyvideo,
.ws-data-video .ws-data-lazyvideo img,
.ws-data-image img {
	display: block;
	min-width: 20%;
	max-width: 100%;
	height: 100%;
	margin: 0 auto;
}

.ws-data-lazyvideo {
	cursor: pointer;
}

.ws-data-audio audio {
    display: block;
    width: 100%;
}