body {
    background: #1d1f2a;
}

body#ws-upload-page {
	padding: 1em 0;
}

#ws-request-trigger {
	font-size: 300%;
	color: white;
	font-family: sans;
}

.container {
	width: auto;
	margin: 0 auto;
	text-align: center;
}

.ws-card {
	display: inline-block;
	width: 29em;
	height: 16.3125em;
	background: black;
	margin: 1px;
}

.ws-data-image,
.ws-data-video,
.ws-data-video video,
.ws-data-lazyvideo {
	display: block;
	width: 100%;
	height: 100%;
}

.ws-data-image a,
.ws-data-lazyvideo a {
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.ws-data-image a {
	cursor: default !important;
}

.ws-data-lazyvideo {
	cursor: pointer;
}

.ws-data-audio audio {
    display: block;
    width: 100%;
}