{{- define "upload" -}}
{{- template "global-header" . -}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
	<script src="//www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
	<script src="/static/upload.js"></script>
</head><body id="ws-upload-page">
<div class="container">
	<div class="text-sm-center" id="storage-usage-caption">{{- .StorageUsageMessage -}}</div>
	<progress class="progress" value="{{- .StorageUsagePercent -}}" max="100" aria-describedby="storage-usage-caption"></progress>
	<div class="row">
		<label for="ws-upload-select">Upload file</label>
		<div class="btn-group w-100">
			<button type="button" class="btn btn-info" id="ws-upload-select" style="width:50%;">Select files</button>
			<input type="file" id="ws-upload-file" name="fl" style="display:none;" multiple>
			<button type="button" class="btn btn-primary" style="width:50%;" onclick="wsUpload(this)">Upload</button>
		</div>
	</div>
	<div class="row mt-2">
		<label for="ws-upload-url">Or provide url</label>
		<div class="form-group">
			<div class="input-group">
				<input type="text" id="ws-upload-url" class="form-control" placeholder="http://example.com/video.webm">
				<span class="input-group-btn">
					<button id="ws-upload-url-btn" class="btn btn-secondary" type="button">Upload</button>
				</span>
			</div>
			<div id="ws-upload-url-warn" style="display:none;" class="form-control-feedback"></div>
		</div>
	</div>
	<div id="uploads"></div>
</div>
{{- template "global-scripts" . -}}
{{- template "global-footer" . -}}
{{- end -}}
