{{- define "upload" -}}
{{- template "global-header" . -}}
	<link href="/static/bootstrap-4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/tether-1.2.0/css/tether.min.css" rel="stylesheet">
</head><body id="ws-upload-page">
<div class="container">
	<div class="row">
		<label class="col-xs-6">
			<input type="file" id="ws-upload-file" onchange="wsUploadOnChange(this)" name="heh" style="display:none;" multiple>
			<button type="button" id="ws-upload-select" class="btn btn-block" onclick="wsUploadSelectFiles(this)">Select files</button>
		</label>
		<div class="col-xs-6">
			<button type="button" class="btn btn-block btn-primary" onclick="wsUpload(this)">Upload</button>
		</div>
	</div>
	<div id="uploads"></div>
</div>
{{- template "global-scripts" . -}}
<script src="/static/tether-1.2.0/js/tether.min.js"></script>
<script src="/static/bootstrap-4.0.0-alpha.2/js/bootstrap.min.js"></script>
<script src="/static/upload.js"></script>
{{- template "global-footer" . -}}
{{- end -}}