{{- define "upload" -}}
{{- template "global-header" . -}}
	<link rel="stylesheet" href="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.min.css">
</head><body id="ws-upload-page">
<div class="container">
	<div class="row">
		<label class="col-xs-6">
			<input type="file" id="ws-upload-file" name="fl" style="display:none;" multiple>
			<button type="button" id="ws-upload-select" class="btn btn-block">Select files</button>
		</label>
		<div class="col-xs-6">
			<button type="button" class="btn btn-block btn-primary" onclick="wsUpload(this)">Upload</button>
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<input type="text" id="ws-upload-url" class="form-control" placeholder="http://example.com/video.webm">
			<span class="input-group-btn">
				<button id="ws-upload-url-btn" class="btn btn-secondary" type="button">Upload</button>
			</span>
		</div>
		<div id="ws-upload-url-warn" style="display:none;" class="form-control-feedback"></div>
	</div>
	<div id="uploads"></div>
</div>
{{- template "global-scripts" . -}}
<script src="//www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
<script src="//cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script>
<script src="/static/upload.js"></script>
{{- template "global-footer" . -}}
{{- end -}}